* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #202020;
    --secundary-color: #FF9F1C;
    --blue-color: #00070c;
    --extra-color: #E71D36;
    --clear-color: #FDFFFC;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
}

.top-header {
    width: 100%;
    height: 60px;
    background-color: var(--clear-color);
    display: flex;
    justify-content: space-between;
}

.top-header-title {
    width: auto;
    font-size: 2.6rem;
    font-weight: 400;
    margin: 15px 0 0 30px;
}

.social-container {
    width: 180px;
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-item img {
    width: 40px;
    height: 40px;
}

.secondary-header {
    width: 100%;
    height: 50px;
    background-color: var(--extra-color);
}

.sections-links-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    list-style: none;
}

.menu-item {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu-item:hover {
    background-color: var(--secundary-color);
}

.menu-item--link {
    color: var(--clear-color);
    font-size: 2rem;
    padding: 12px 40px;
    text-decoration: none;
}

.menu-section {
    padding-top: 110px;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1592609931041-40265b692757?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.presentation-card {
    max-width: 450px;
    width: 50%;
    min-width: 300px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: white;
    padding: 5px 35px;
    margin: 25vh auto;
}

.card-tilte {
    font-size: 4.5rem;
}

.card-text {
    font-size: 2rem;
    font-weight: 300;
}

#projects {
    width: 100%;
    /* cambiar a auto una vez el contenido esta definido */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clear-color);
    opacity: 1;
    background-image: radial-gradient(var(--secundary-color) 0.75px, transparent 0.75px), radial-gradient(var(--blue-color) 0.75px, var(--clear-color) 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    padding-bottom: 150px;
}

.proyects-title {
    width: auto;
    min-width: 350px;
    margin: 135px;
    color: var(--clear-color);
    background-color: var(--primary-color);
    padding: 15px;
    text-decoration: underline;
    font-size: 3.6rem;
}

.proyects-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.project-tile {
    width: 320px;
    height: 400px;
    border: solid 5px var(--blue-color);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75);
}

.project-tile a {
    text-decoration: none;
}

.item-header {
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: var(--clear-color);
    background-color: var(--blue-color);
}

.icons-container {
    width: 100%;
    height: auto;
    background-color: var(--clear-color);
}

.icons-container img {
    margin: 5px 10px;
    width: 40px;
    height: 40px;
}

.proyect-image {
    width: 100%;
    height: calc(100% - 115px);
    background-size: cover;
    background-repeat: no-repeat;
}

#more-about-me {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    padding: 120px 50px;
}

.about-me--title {
    width: 350px;
    height: auto;
    margin: 0 auto;
    font-size: 3rem;
    color: var(--primary-color);
    background-color: var(--clear-color);
    box-shadow: 15px 15px 0px 0px var(--secundary-color);
    text-decoration: underline;
    padding: 15px;
    text-align: center;
}

.info-container {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.item-about-me {
    min-width: 300px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: var(--clear-color);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    text-align: justify;
}

.item-about-me h4 {
    font-size: 3rem;
    margin: 15px;
    color: var(--secundary-color);
}

.item-about-me p {
    font-size: 1.8rem;
    margin: 15px;
    font-weight: 300;
    color: var(--primary-color);
}

.footer {
    width: 100%;
    height: 150px;
    background-color: var(--blue-color);
    border-top: 5px solid var(--secundary-color);
    color: var(--clear-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    padding: 0 15px;
}

.footer a {
    color: var(--extra-color);
}

#proyect01 .proyect-image {
    background-image: url(../Assets/pics/tribute-page.PNG);
}

#proyect02 .proyect-image {
    background-image: url(../Assets/pics/proyect-02.PNG);
}

#proyect03 .proyect-image {
    background-image: url(../Assets/pics/survey.PNG);
}

#proyect04 .proyect-image {
    background-image: url(../Assets/pics/product.PNG);
}

#proyect05 .proyect-image {
    background-image: url(../Assets/pics/charmander-css.PNG);
}

#proyect06 .proyect-image {
    background-image: url(../Assets/pics/telescope-travel.PNG);
}

#proyect07 .proyect-image {
    background-image: url(../Assets/pics/bunny-ascension.PNG);
}

@media (max-width:1120px) {
    .proyects-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .info-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}

@media (max-width:750px) {
    .proyects-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width:525px) {
    .top-header-title {
        font-size: 2rem;
        margin: 15px 0 0 15px;
    }
    .social-container {
        width: 150px;
        margin-right: 5px;
    }
    .sections-links-container {
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .menu-item {
        width: 33%;
    }
    .menu-item--link {
        font-size: 1.6rem;
        padding: 12px 20px;
    }
    #more-about-me {
        padding: 120px 5px;
    }
    .about-me--title {
        width: 200px;
    }
}